@font-face {
    font-family: 'Consolas';
    src: url('/assets/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: #292f36;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .input {
        outline: none;
        border: none;
        background: rgb(27, 31, 36);
        transition: color .2s;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
    }

    #navbar {
        display: inline-flex;
        margin: 40px 0;
        width: calc(80vw + 40px);

        #title {
            color: white;
            text-align: center;
            width: 80%;
            height: 30px;
            margin: 0px 20px;
        }

        #back {
            color: white;
            text-align: center;
            width: 20%;
            cursor: pointer;
            &:hover {
                transition: color .2s;
                color: #ABB2BF;
            }
        }
        #language {
            color: white;
            text-align: center;
            width: 20%;
        }
    }
    #code {
        padding: 0 10px;
    }
    #code * {
        font-family: 'Consolas';
        width: 80vw;
        background: rgb(27, 31, 36) !important;
        height: calc(100vh - 160px);
        font-size: 20px;
        resize: none;
    }
    textarea {
        padding: 20px 20px;
    }
}